*{
    margin: 0;
    padding: 0;
  }
.title{
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    margin: auto;
    padding: 10px 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
body{
    background-color: #FFE8E8;
    padding-top: 120px;
}